:root {

}

* {
}

body {
}

.brand {
}

.nav {
}

.nav a {
}

.nav a:hover {

}

.content {

}

.container{
    display: grid;
    gap: var(--card);
    padding: var(--space);
}









@media (min-width: 640px) {

}

@media (orientation: landscape) {
    .brand {
        padding: 1.5rem;
    }
}

@media (prefers-color-scheme: dark) {

}

@media (prefers-reduced-motion: reduce) {

}
